/* body {
    margin: 0;
    width: 900px;
    height: 400px;
} */


.container{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.set-redirect {
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 8px;
    /* Adjust space between cells */
}